body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



