:root {
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #ffffff;
    --background-color2: #F5F5F5;
    --backgroundhero: #2F303A;
    --logocolor: #000000;
    --backgroundworklist: #F5F4FA;
    --background-color-footer: #2F303A;
    --herobuttonactive: #188CE8;
    --boxborder: #EEEEEE;
    --iconcolor: #AFB1B8;
}
$text-font-stack: “Roboto”, sans-serif;
$logo-font-stack: ‘Raleway’, sans-serif;

