.footer-form {
    @include respondTo("pre-medium"){
        text-align: center;
    }
    @include respondTo("large"){
    display: flex;
    }
}


.footer-form__input {
    width: 358px;
    height: 50px;
    background-color: var(--background-color-footer);
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    padding-top: 15px;
    padding-right: auto;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:focus {
    border-color: var(--accent-color);
}

.footer-form__btn-send {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 4px;
    
    cursor: pointer;
    gap: 12px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9px;
    letter-spacing: 0.06em;
    fill: var(--background-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include respondTo("large") {
            margin-left: 12px;
        }
    

}
.footer-btn-thumb{
    @include respondTo("pre-medium") {
            display: flex;
            justify-content: center;
            margin-top: 20px;

        }
}

.footer-form__btn-send:hover,
.footer-form__btn-send:focus {
    background-color: var(--herobuttonactive);
}
