.footer-link {
    @include respondTo("pre-medium") {
        text-align: center;
        margin-top: 60px;
        }
               
   

    @include respondTo ("medium"){
        text-align: center;
        margin-top: 60px;
    }
    @include respondTo("large") {
            text-align: start;
             position: relative;
             margin-left: 93px;
             margin-top: 0;
         }
}


.footer-link__title {
    color: var(--background-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    

}
