.address-list {
    list-style-type: none;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.address-list__link--accent {

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link--accent:hover {
    color: var(--accent-color);
}

.address-list__link--accent:focus {
    color: var(--accent-color);
}

.address-list__link {

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-family: inherit;
    font-style: normal;

}

.address-list__link:hover,
.address-list__link:focus {
    color: var(--accent-color);
}
.address-list__item {
    margin-bottom: 9px;
}

.address-list__item:nth-last-child(1) {
    margin-bottom: 0
}