.footer-link {
    margin-left: 93px;
    position: relative;
}

.footer-link__title {
    color: var(--background-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

}