.form-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 30px;


}

.checkbox-input {
    appearance: none;
    position: absolute;
    padding-left: 12px;

}

.checkbox-label {
    position: absolute;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-left: 24px;
    padding-bottom: 0;
}

.checkbox-icon {
    width: 16px;
    height: 15px;
    fill: var(--background-color);
    border: 2px solid;
    border-radius: 2px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.checkbox-input:checked~.checkbox-icon {
    background-color: var(--accent-color);
    border: none;
}