.todolist {
    padding-bottom: 94px;




&__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
    text-align: center;
    margin: 0;


}
}

.work-list {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 50px;




&__item {
    margin-right: 30px;

}

&__item:last-child {
    margin-right: 0;
}

&__img {
    display: block;
    width: 100%;

}

&__box {
    position: relative;



}

&__thumb {
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);


}

&__thumb-text {

    position: absolute;
    margin: 0;
    bottom: 0;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);

}
}