.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 50px;
}

.clients-list {
    list-style: none;
    display: flex;
    justify-content: center;



}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--iconcolor);
    fill: var(--iconcolor);
    border-color: var(--iconcolor);
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-list__link:hover,
.clients-list__link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);

}

.clients-list__item {
    display: flex;
    margin-right: 30px;
    width: 170px;
    height: 92px;

}

.clients-list__item:nth-last-child(1) {
    margin-right: 0;
}